<h1>Team</h1>
	<p> Alicia Glenn is new to coding. She plans on launching her own startup after learning Ruby on Rails more efficiently. This is her first coding project</p> 

<%=image_tag "http://www.successhackingincollege.com/wp-content/uploads/2013/03/alicia-pic-150x150.jpg"%>